vendor/
node_modules/

log/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

composer.lock
yarn.lock

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Cloud 9
.c9/
